<a href="https://colab.research.google.com/github/unawuyou-create/Dissertation/blob/main/2.1.%20Overview_of_FIRST_purchase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel("/content/ComparetheMarket_reviews.xlsx")
data = 'ComparetheMarket_reviews.xlsx' # change the csv file name to your file name that you uploaded
df = pd.read_excel(data)

df.head()

In [ ]:
len(df)

In [ ]:
df = df.dropna(subset=["title", "rating"])
len(df)

In [ ]:
!pip install pandasql

In [ ]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

query= f"""
SELECT Review, User, Title, Rating, Date
FROM df
WHERE LOWER(Review) LIKE '%first%'
   OR LOWER(Review) LIKE '%new%'
   OR LOWER(Review) LIKE '%first purchase%'
   OR LOWER(Review) LIKE '%initial sale%'
   OR LOWER(Review) LIKE '%one-time purchase%'
   OR LOWER(Review) LIKE '%one-shot deal%'
   OR LOWER(Review) LIKE '%first order%'
   OR LOWER(Review) LIKE '%initial installation%'
   OR LOWER(Title) LIKE '%first%'
   OR LOWER(Title) LIKE '%new%'
   OR LOWER(Title) LIKE '%first purchase%'
   OR LOWER(Title) LIKE '%initial sale%'
   OR LOWER(Title) LIKE '%one-time purchase%'
   OR LOWER(Title) LIKE '%one-shot deal%'
   OR LOWER(Title) LIKE '%first order%'
   OR LOWER(Title) LIKE '%initial installation%'

"""
result_df = pysqldf(query)

result_df.head()

In [ ]:
result_df.to_excel('Firstpurchase_review.xlsx', index=False)

In [ ]:
df = result_df

In [ ]:
df["Date"] = pd.to_datetime(df["Date"], format="%B %d, %Y", errors="coerce")

# total number of review
title_count = len(df)

# get the time range of reviews (earliest and latest dates)
min_date = df["Date"].min()
max_date = df["Date"].max()

# Calculate rating statistics
rating_mean = df["rating"].mean()
rating_median = df["rating"].median()
rating_var = df["rating"].var()

# print results
print(f"Total number of Titles: {title_count}")
print(f"Review date range: {min_date.date()} â€“ {max_date.date()}")
print("Rating statistics:")
print(f"  Mean: {rating_mean:.2f}")
print(f"  Median: {rating_median}")
print(f"  Variance: {rating_var:.2f}")

In [ ]:
#the number of each rating score
query = """

SELECT rating, COUNT(*) as count
FROM df
WHERE rating IN (1,2,3,4,5)
GROUP BY rating
ORDER BY rating;
"""
result_df = pysqldf(query)

for _, row in result_df.iterrows():
    print(f"Rating {row['rating']}: {row['count']} reviews")

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(6,4))
plt.hist(df["rating"].dropna(), bins=range(1,7), edgecolor="black", alpha=0.7)
plt.xticks(range(1,6))
plt.xlabel("Rating")
plt.ylabel("Count")
plt.title("First Purchase Rating Distribution")
plt.show()